export AWS_DEFAULT_REGION=
export AWS_PROFILE=
export TF_VAR_ancestor_domain_name=
export TF_VAR_domain_name=
export TF_VAR_dockerhub_username=
export TF_VAR_dockerhub_password=
export TF_VAR_github_token=
export TF_VAR_enable_approve_action=false
